@import 'tailwindcss' theme(static);

/* bardzo ważne dla Sage/Blade: skanowanie klas */
@source "../views/**/*.blade.php";
@source "../../app/**/*.php";
@source "../js/**/*.{js,ts,jsx,tsx}";

/* Twoje “źródłowe” zmienne RGB */
:root {
  /* base */
  --text-body: 101 89 75; /* #2A3F50 */

/* primary scale (żółty ze screena) */
--primary: 241 254 27; /* #F1FE1B */
--p-hover: 241 254 27; /* #C9D417 */

--p-50: 252 255 209; /* #FCFFD1 */
--p-100: 250 255 179; /* #FAFFB3 */
--p-200: 248 255 141; /* #F8FF8D */
--p-300: 246 254 103; /* #F6FE67 */
--p-400: 243 254 65;  /* #F3FE41 */
--p-500: 241 254 27;  /* #F1FE1B (BASE) */

--p-600: 201 212 23; /* #C9D417 */
--p-700: 161 169 18; /* #A1A912 */
--p-800: 121 127 14; /* #797F0E */
--p-900: 80 85 9;    /* #505509 */
--p-dark: 48 51 5;   /* #303305 */


/* secondary scale (szarości ze screena) */
--secondary: 0 0 0; /* #000000 */
--s-hover: 85 85 85; /* #555555 */

--s-100: 204 204 204; /* #CCCCCC */
--s-200: 170 170 170; /* #AAAAAA */
--s-300: 128 128 128; /* #808080 */
--s-400: 85 85 85;    /* #555555 */
--s-500: 42 42 42;    /* #2A2A2A */

--s-600: 0 0 0; /* #000000 */
--s-700: 0 0 0; /* #000000 */
--s-800: 0 0 0; /* #000000 */
--s-900: 0 0 0; /* #000000 */
--s-dark: 0 0 0; /* #000000 */

  /* neutrals / fixed backgrounds */
  --gray: #2a3f50;
  --bg: #FEFFF2;
  --bg-light: #FDFFE7;
  --bg-lighter: #FDFFEA;
  --bg-brand: #C9D417;
  --bg-dark: #505509;
}

@theme {
  /* base */
  --color-body: rgb(var(--body));

  /* primary */
  --color-primary: rgb(var(--primary));
  --color-primary-hover: rgb(var(--p-hover));
  --color-primary-50: rgb(var(--p-50));
  --color-primary-100: rgb(var(--p-100));
  --color-primary-200: rgb(var(--p-200));
  --color-primary-300: rgb(var(--p-300));
  --color-primary-400: rgb(var(--p-400));
  --color-primary-500: rgb(var(--p-500));
  --color-primary-600: rgb(var(--p-600));
  --color-primary-700: rgb(var(--p-700));
  --color-primary-800: rgb(var(--p-800));
  --color-primary-900: rgb(var(--p-900));
  --color-primary-dark: rgb(var(--p-dark));

  /* secondary */
  --color-secondary: rgb(var(--secondary));
  --color-secondary-hover: rgb(var(--s-hover));
  --color-secondary-100: rgb(var(--s-100));
  --color-secondary-200: rgb(var(--s-200));
  --color-secondary-300: rgb(var(--s-300));
  --color-secondary-400: rgb(var(--s-400));
  --color-secondary-500: rgb(var(--s-500));
  --color-secondary-600: rgb(var(--s-600));
  --color-secondary-700: rgb(var(--s-700));
  --color-secondary-800: rgb(var(--s-800));
  --color-secondary-900: rgb(var(--s-900));
  --color-secondary-dark: rgb(var(--s-dark));

  --color-gray: var(--gray);
  --color-action: var(--action);

  --color-page: var(--bg);
  --color-background-light: var(--bg-light);
  --color-background-brand: var(--bg-brand);
  --color-background-dark: var(--bg-dark);

  --color-primary-light: var(--color-primary-300);
  --color-primary-lighter: var(--color-primary-100);

  --color-secondary-light: var(--color-secondary-300);
  --color-secondary-lighter: var(--color-secondary-100);

  --color-muted: var(--color-secondary-500);
  --gradient: linear-gradient(90deg, #303305 0%, #797F0E 100%);
  --gradient-light: linear-gradient(-90deg, #F1FE1B 0%, #A1A912 100%);
  --gradient-s: linear-gradient(-90deg, #2B2118 0%, #2B2118 100%);

}

@import '../css/variables.scss';

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'baguettebox.js/dist/baguetteBox.min.css';

/*-- USED ---*/
@import '../css/blocks/hero.scss';
@import '../css/blocks/help.scss';
@import '../css/blocks/cta-bg.scss';
@import '../css/blocks/tiles.scss';
@import '../css/blocks/content.scss';
@import '../css/blocks/about.scss';
@import '../css/blocks/team.scss';
@import '../css/blocks/offer.scss';
@import '../css/blocks/reviews.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/hero-about.scss';
@import '../css/blocks/who.scss';
@import '../css/blocks/numbers.scss';
@import '../css/blocks/places.scss';
@import '../css/blocks/member.scss';
@import '../css/blocks/hero-offer.scss';
@import '../css/blocks/tabs.scss';
@import '../css/blocks/proces.scss';
@import '../css/blocks/faq.scss';
@import '../css/blocks/hero-help.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/contact.scss';
@import '../css/blocks/wehelp.scss';
@import '../css/blocks/prices.scss';
@import '../css/blocks/image.scss';
@import '../css/blocks/cta.scss';
@import '../css/blocks/resources.scss';
@import '../css/blocks/mats.scss';
@import '../css/blocks/jobs.scss';
@import '../css/blocks/hero-blog.scss';
@import '../css/blocks/ebook.scss';
@import '../css/blocks/slider.scss';
@import '../css/blocks/block-clone.scss';
@import '../css/blocks/speakers.scss';

/*-- NOT USED --*/
@import '../css/blocks/complex.scss';
@import '../css/blocks/works.scss';
@import '../css/blocks/category-posts.scss';
@import '../css/blocks/hero-sub.scss';
@import '../css/blocks/hero-brand.scss';
@import '../css/blocks/how.scss';
@import '../css/blocks/quote.scss';
@import '../css/blocks/services.scss';
@import '../css/blocks/twin.scss';
@import '../css/blocks/order.scss';
@import '../css/blocks/cards.scss';
@import '../css/blocks/gains.scss';
@import '../css/blocks/overlap.scss';
@import '../css/blocks/what.scss';
@import '../css/blocks/connect.scss';
@import '../css/blocks/gallery.scss';
@import '../css/blocks/calc.scss';
@import '../css/blocks/tlc.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/bottom-block.scss';
@import '../css/blocks/hero-cat.scss';
@import '../css/blocks/hero-job.scss';
@import '../css/blocks/selection.scss';
@import '../css/blocks/product-hero.scss';
@import '../css/blocks/sectors.scss';
@import '../css/blocks/steps.scss';
@import '../css/blocks/values.scss';
@import '../css/blocks/cert.scss';
@import '../css/blocks/catalogues.scss';
@import '../css/blocks/job.scss';
@import '../css/blocks/map.scss';
@import '../css/blocks/logos.scss';
@import '../css/blocks/locations.scss';
@import '../css/blocks/categories.scss';
@import '../css/blocks/area-block.scss';
@import '../css/blocks/cases.scss';
@import '../css/blocks/history.scss';
@import '../css/blocks/cases-slider.scss';
@import '../css/blocks/path.scss';
@import '../css/blocks/duotitle.scss';
@import '../css/blocks/inspirations.scss';
@import '../css/blocks/wysiwyg.scss';
@import '../css/blocks/coop.scss';


@import './megamenu.scss';